// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../../node_modules/bootstrap/scss/type";
@import "../../../../../node_modules/bootstrap/scss/images";
@import "../../../../../node_modules/bootstrap/scss/containers";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../../../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here

// Create your own map    //ME CREA CLASES NOVES PER TOT
$colors-personalitzats: (
        "iesmanacor": rgb(255, 136, 0),
        "primary": rgb(81, 92, 138),   //Amb aixo modific sa classe primary de bootstrap per es color que jo vull i amb aixo totes ses seves variant
        "secondary":  rgb(70, 146, 140),
        "success":    rgb(65, 153, 57),
        "info":       rgb(193, 133, 200),
        "warning":    rgb(144, 37, 37),
        "danger":     rgb(177, 174, 27),
        "light":      rgb(182, 182, 182),
        "dark":       rgb(36, 36, 36)


);

// Merge the maps     //  AQUI AGREGAM ES COLOS PERSONALITZATS D'ABANS A SA LLISTA
$theme-colors: map-merge($theme-colors, $colors-personalitzats);
$theme-colors-rgb: map-merge($theme-colors-rgb,$colors-personalitzats);
$utilities-bg-colors: map-merge($utilities-bg-colors, $colors-personalitzats);
$utilities-text-colors: map-merge($utilities-text-colors, $colors-personalitzats);



/*Importam tot es bootstrap*/
@import "../../../../../node_modules/bootstrap/scss/bootstrap";


/*  Estils personalitzats en es final sempre    */


.iesmanacor{
  background-color: $yellow-400;
}

img{
  margin-left: auto;
  margin-right: auto;
}
