<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>

    <div class="container">

        <header th:replace="plantilla/template :: header"></header>

        <main>
            <div class="row">

                <div class="col-12">


                    <h1>AIXO ES LA PAGINA PRINCIPAL (INDEX)</h1>


                </div>


            </div>

        </main>
        <footer th:replace="plantilla/template :: footer"></footer>

    </div>
</body>
</html>